@import 'utils';

.header {
  height: 3.5rem;
  &.solid {
    background: linear-gradient(to right bottom, #276caf, #30a1c1);
  }
  // background: material-color('teal', '600');
  .responsive {
    padding-left: 1rem;
    padding-right: 1rem;
    @include responsive();
    display: flex;
    height: 100%;
    align-items: center;

    .right-side {
      display: flex;
      margin-left: auto;
    }
  }

  .login-button {
    margin-left: 1rem;
    &:hover {
      color: material-color('teal', '500');
    }
  }
}