@import 'utils';

.page {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: z-index-for('header');
  }

  .content {
    &.padding {
      padding-top: 3.5rem;
    }
    &.responsive {
      padding-left: 1rem;
      padding-right: 1rem;
      @include responsive();
      &.mobile-no-padding {
        @include media("<medium") {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}