@import 'utils';
.profit-info {
  .description {
    margin-top: 0.5rem;
    color: material-color('grey', '800');
    font-size: 0.85rem;
    ul {
      padding-left: 2rem;
    }
  }
  .info {
    margin-top: 1rem;
    display: flex;
    @include media("<medium") {
      flex-direction: column;
    }
    .info-box {
      padding: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: 250px;
      @include media("<huge") {
        width: 200px;
      }
      @include media("<medium") {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

      h4 {
        color: material-color('grey', '600');
        margin: 0;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.85rem;
        margin: 0;
        .sign {
          font-family: 'initial';
        }
      }
      .percentage {
        font-size: 1.5rem;
        &.positive {
          color: material-color('green', '700');
        }
        &.negative {
          color: material-color('red', '700');
        }
      }
      @include media(">=medium") {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    
    .info-box + .info-box {
      @include media(">=medium") {
        border-left: 1px solid material-color('grey', '300');
      }
      @include media("<medium") {
        border-top: 1px solid material-color('grey', '300');
      }
    }
  }
  
}
