.trade-index {
  .inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}