@import 'utils';

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 300;
  color: material-color('grey', '50');
  opacity: 0.9;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    font-weight: 400;
    opacity: 1;
  }
}