@import 'utils';

.label-block {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  .label {
    font-size: 0.75rem;
    font-weight: bold;
    color: material-color('grey', '800');
  }
  .content {
    margin-top: 0.1rem;
    color: material-color('grey', '600');
    font-size: 0.95rem;
    font-weight: 300;
  }
}