@import 'utils';

.trade-box {
  .head {
    background: white;
    color: material-color('grey', '800');
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .title {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .has-amount {
      margin-left: auto;
      font-size: 0.85rem;
      text-align: right;
      .desc, .currency {
        font-weight: 600;
      }
    }
    
  }
  .content {
    padding: 1rem;
    background: material-color('grey', '100');
    &.bright {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      display: flex;
      align-items: center;
      .text {
        font-weight: 600;
      }
      .total {
        margin-left: auto;
        font-weight: 300;
        font-size: 1.25rem;

        .base {
          font-size: 0.9rem;
          color: material-color('grey', '600');
        }
      }
      background: white;
    }

    &.bottom {
      padding-top: 0;
      padding-bottom: 1rem;
    }
  }
  padding: 0;
  flex: 1
}

.trade-box + .trade-box {
  margin-left: 1rem;
}

