@import 'utils';

.order-book {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;


  .column {
    flex: 1;
    .gray-card {
      background: material-color('grey', '200');
    }
    .column-name {
      font-weight: 600;
      color: material-color('grey', '800');
    }
  }
  .column + .column {
    margin-left: 1rem;
  }
}