.wallet-page {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  .side-menu {
    width: 10rem;
  }
  .content {
    margin-left: 1rem;
    flex: 1;
    .section-card { 
      margin-bottom: 3rem;

      h1 {
        font-size: 2rem;
        line-height: 2rem;
        color: material-color('grey', '800');
        font-weight: 900;
        margin: 0;
      }

      h2 {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin: 0;
        margin-top: 2.5rem;
      }

      padding: 2.25rem;
    }
  }
}