.not-available {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(67, 67, 67);
  text-align: center;
}

.profit-chart {
  margin-top: 1.5rem;
  width: 100%;
  height: 500px;
  .chart {
    width: 100%;
    height: 100%;
  }
}