@import 'utils';

@keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}


.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;

  .check-box {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    .checked {
      display: none;
    }
  }

  .text {
    transform: translateY(1px);
  }

  transition: all .15s;

  &:hover {
    color: material-color('teal', '500');
  }
  &:active, &.active {
    .check-box {
      .blank {
        display: none;
      }
      .checked {
        display: initial;
      }
    }
  }

  &.active {
    color: material-color('teal', '500');
    font-weight: 700;

    .check-box {
      animation-duration: .2s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      animation-name: pop;
    }
  }
}

.option + .option {
  margin-top: 1rem;
}