@import 'utils';

.button {
  display: inline-block;
  font-size: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  // default
  background: material-color('grey', '300');
  &:hover {
    background: material-color('grey', '200');
  }
  &:active {
    background: material-color('grey', '300');
  }

  &.invert {
    border: 2px solid white;
    color: white;
    background: transparent;
    transition: box-shadow .15s ease-in;
    &:hover {
      background: white;
      color: material-color('grey', '800');
      @include material-shadow(2);
    }
    &:active {
      @include material-shadow(2, 2);
    }
  }

  &.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &.flex + &.flex {
    margin-left: 1rem;
  }

  &.flat {
    border-radius: 2px;
    transition: all .15s ease-in;
    &.white {
      background: white;
      border: 1px solid material-color('grey', '300');

      &:hover {
        background: material-color('grey', '100');
      }
      &:active {
        background: material-color('grey', '200');
      }
    }
    &.teal {
      color: white;
      background: material-color('teal', '300');
      border: 1px solid material-color('teal', '400');
      &:hover {
        background: material-color('teal', '200');
        border: 1px solid material-color('teal', '300');
      }
      &:active {
        background: material-color('teal', '400');
        border: 1px solid material-color('teal', '500');
      }
    }

  }


}