.trade-index-subpage {
}
.options {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .selector {

  }
  .reverser {
    margin-top: -2px;
    margin-left: 0.5rem;
  }
}