@import 'utils';

@keyframes flicker {
  50% {
    background: rgba(0, 208, 255, 0.15);
  }
}

.trade-history-table {
  .flicker {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: flicker;
  }
  .title {
    padding: 1rem;
    font-weight: 600;
    color: material-color('grey', '800');
  }
  .head {
    display: flex;
    padding-left: 1rem;
    padding-right :1rem;
    padding-bottom: 0.5rem;
    color: material-color('grey', '500');
    font-size: 0.85rem;
  }
  .rows {
    height: 14.375rem;
    overflow-y: auto;
    border-top: 1px solid material-color('grey', '200');
    .row {
      padding-left: 1rem;
      display: flex;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 0.85rem;
      &:nth-child(even) {
        background: material-color('grey', '100');
      }
      &.personal {
        cursor: pointer;
        &:hover {
          background: rgba(47, 160, 192, 0.1);
        }
      }
    }
  }
  .col {
    flex: 1;
    // date | type | price | amount | total
    &.time {
      flex: 0.5;
    }
    &.type {
      flex: 0.5;
    }
    &.status {
      flex: 0.35;
    }
    &.processed {
      color: material-color('green', '500');
    }
  }

}