@import 'utils';
.wallet-menu {
  position: relative;
  a {
    display: block;
    padding: 1rem;
    font-weight: 200;
    border-right: 8px solid transparent;
    transition: .15s ease-in;
    &.active {
      font-weight: 400;
      color: material-color('cyan', '600');
      border-right: 8px solid material-color('cyan', '600');
    }
  }

  a + a { 
    border-top: 1px solid material-color('grey', '300');
  }

  @include media("<medium") {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    text-align: center;

    
    a {
      border-right: none;
      background: rgb(240, 240, 240);
      flex: 1;
      &.active {
        border-right: none;
        background: white;
      }
    }
    a + a {
      border-top: none;
      border-left: 1px solid material-color('grey', '300');
    }
  }

  .ad-area {
    position: absolute;
    left: 0;
    margin-top: 1rem;
    width: 160px;
    height: 400px;
    @include media("<medium") {
      display: none;
    } 
  }
}