@import 'utils';

.trade-chart {
  margin-top: 2rem;
  background: material-color('grey', '800');
  @include material-shadow(2,2);
  padding: 1rem;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  .chart {
    width: 100%;
    height: 40vh;
  }
}
