@import 'utils';

.trade-chart {
  margin-top: 2rem;
  padding-top: 1rem;
  background: material-color('grey', '200');
  @include material-shadow(2,2);
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  .chart {
    width: 100%;
    height: 100%;
  }
}
