@import 'utils';

.fade-enter {
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-name: fadeIn;
}

.fade-leave {
  animation-duration: .15s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-name: fadeOut;
}


.screen-mask {
  z-index: z-index-for('screen-mask');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.70);
}