@import 'utils';

.wallet-table {
  margin-top: 1rem;

  .table-head {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    align-items: center;
    border-bottom: 1px solid material-color('grey', '300');
    .col {
      line-height: 1rem;
      font-size: 1rem;
      font-weight: 700;
      color: material-color('grey', '800');
    }
  }
  .col {
    padding: 0.5rem;
    &.coin {
      flex: 4;
    }
    &.percent {
      font-size: 0.8rem;
      text-align: right;
      flex: 4.5;
      @include media("<medium") {
        display: none;
      }
      .negative {
        color: material-color('red', '600');
      }
      .positive {
        color: material-color('green', '600');
      }
    }
    &.name {
      flex: 10;
    }
    &.has {
      flex: 11;
    }
    &.waiting {
      flex: 11;
    }
    &.btc {
      flex: 11;
    }
    @include media("<large") {
      &.name {
        display: none;
      }
    }
    @include media("<medium") {
      &.btc {
        display: none;
      }
    }
  }
  .row {
    height: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    color: material-color('grey', '500');
    font-weight: 300;
    &:hover {
      background: rgba(0,0,0,0.025);
    }
    .coin {
      color: material-color('grey', '700');
      font-weight: 400;
    }
    & + .row {
      border-top: 1px solid material-color('grey', '300');
    } 
  }
  // 4, 10, 11, 11, 11
}