@import 'utils';

.triple-wallet {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  @include media("<large") {
    flex-direction: column;
  }
  .wallet-box {
    height: 128px;
    border-radius: 2px;
    flex: 1;
    background: material-color('grey', '200');
    border: 1px solid material-color('grey', '300');
    @include flex-center();
    & + .wallet-box {
      margin-left: 1rem;
    }
    flex-direction: column;

    @include media("<large") {
      min-height: 6rem;
      & + .wallet-box {
        margin-left: 0;
      }
    }
    
    .currency {
      font-size: 1.25rem;
      color: material-color('grey', '600');
      font-weight: 300;
    }
    .value {
      margin: 0;
      margin-top: 0.5rem;
      color: material-color('grey', '800');
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1.5rem;
      
    }
  }
}